<p>admin-user works!</p>

-- {{adminUsers$}}
<div class="container">
  <table class="table">
    <caption>My Todos</caption>

    <thead>
    <tr>
      <th>id</th>
      <th>email</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let adminUser of adminUsers  ">
      <td>{{adminUser.adminUserId}}</td>
      <td>{{adminUser.email}}</td>
    </tr>
    </tbody>

  </table>



  <ngb-pagination [collectionSize]="total"
                  [pageSize]="pageSize"
                  (pageChange)="onPageChange($event)"
                  [(page)]="page" [maxSize]="pageSize" [rotate]="true"
                  [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

</div>
